/*1rem(% of the font) = 1em \\ 1em = 16px (actual font size of the browser*/

/* Bellow 1344px */
/* 84em = 1344 / 16 */
@media(max-width: 84em){
    .Hero{
        max-width: 120rem;
    }

    .HeadingPrimary{
        font-size: 4.4rem;
    }

    .Gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Bellow 1200px (landscape tabs) */
@media(max-width: 75em){
    html{
        font-size: 56.25%;
    }

    .Grid{
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .HeadingSecundary{
        font-size: 3.6rem;
    }

    .HeadingTertiary{
        font-size: 2.4rem;
    }

    .Header{
        padding: 0 3.2rem;
    }

    .Hero{
        gap: 4.8rem
    }

    .MainNavList{
        gap: 3.2rem;
    }

    .TestimonialsConteiner{
        padding: 9.6rem 3.2rem;
    }
}

/* Bellow 944px */
@media(max-width: 59em){
    html{
        /* 8px / 16 = 0.5 = 50% */
        font-size: 50%;
    }

    .Hero{        
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }

    .HeroImg{
        width: 60%;
    }

    .HeroTextBox,
    .HeroImgBox{
        text-align: center;
    }

    .DeliveredMeals{
        justify-content: center;
        margin-top: 3.2rem;
    }

    .Logos img{
        height: 2.4rem
    }

    .StepNumber{
        font-size: 7.4rem;
    }

    .MealContent{
        padding: 1.8rem 3.2rem 3.2rem 3.2rem;
    }

    .SectionTestimonials{
        grid-template-columns: 1fr;
    }

    .Gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .CTA{
        grid-template-columns: 3fr 2fr;
    }

    .CTAForm{
        grid-template-columns: 1fr;
    }

    .FormButton{
        margin-top: 3rem;
    }
}